@use "../vars" as v;

.footer {
  position: sticky;
  display: flex;
  flex-direction: row;
  width: 98vw;
  height: 3rem;
  margin-left: -0.5rem;
  bottom: 0px;
  background-color: v.$main-color;
  color: whitesmoke;

  span {
    flex: 1;
  }

  a {
    color: whitesmoke;
    text-decoration: none;
    padding: 0.25rem;
    margin: 0.25rem;
  }
}
